.Radio {
  opacity: 0;
}

body {
  background: green;
}

label {
  background: yellow;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.content {
  margin-top: 100px;
  text-align: center;
}

#tab-2: ;
